#contain {
	display: flex;
	justify-content: space-between;
	
}

#text {
	align-items: center;
	white-space: no-wrap;
}

h1 {
	font-size: 350%;
}

body {
	padding-top: 50px;
	background-color: white;
}


#map {


}

.paddingbottom {
	padding-top: 5px;
	padding-bottom: 8px ;
}

.datamap {
	width: 1000px;
	height: 600px;
}

#state, #preState  {
	background-color: #303030;
  color: white;
}

#money, #preMoney {
  background-color: #bd081c;
  color: white;
}

#non-violent {
	background-color: #303030;
  color: white;
}

#year {
	background-color: #303030;
  color: white;
	
}

.clear {
	background-color: white;
	color: black;
}













